.buildpath
.DS_Store
/.idea
.vagrant
.project
.settings/
.*.sw*
.*.un~
build/
nbproject

tmp/
app/vendor/**
app/Modules/**
!app/Modules/readme.md

data/backup/**
!data/backup/readme.txt

.docker-compose/web-server/skeleton/*.local.conf.php
!.docker-compose/web-server/skeleton/sapi_default.local.conf.local.conf.php

docker-compose.local.yml
composer.lock
