*{
    font-family: ISN, IS, Roboto, sans-serif;
}
.font-is{
    font-family: ISN, IS, Roboto, sans-serif !important;
}
.login_page_wrapper{
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.form-hint{
    font-size: 10px;
    margin: 5px 0;
    color: #a0a0a0;
}
.parsley-errors-list span{
    font-size: 11px;
    color: #E53935;
}
#register_phone{
    direction: ltr;
    padding: 4px;
}
.font-size-small{
    font-size: 12px;
}
.parsley-row{
    position: relative;
}
.parsley-row label.label-required::before{
    content: '*';
    display: inline;
    color: darkred;
    padding-left: 5px;
}
.parsley-row.uk-form-password{
    width: 100%;
}
.uk-form-password-toggle{
    right: unset;
    top: 30px;
}
.k-combobox > .k-dropdown-wrap{
    padding: 0 0 0 2.571em;
}
.k-combobox > .k-dropdown-wrap > .k-i-close{
    display: none !important;
}
.k-combobox > .k-dropdown-wrap > .k-select{
    right: unset;
    left: 0;
}
.verification-status{
    position: relative;
}
.verification-icon{
    position: absolute;
    width: 30px;
    right: 0;
    top: 0;
}
.verification-icon i{
    font-size: 25px;
    position: absolute;
    opacity: 1;
    -webkit-transition: opacity .3s, color .3s;
    -moz-transition: opacity .3s, color .3s;
    -ms-transition: opacity .3s, color .3s;
    -o-transition: opacity .3s, color .3s;
    transition: opacity .3s, color .3s;
}
.verification-icon i.active{
    opacity: 0;
    font-size: 33px;
    right: -8px;
    top: -8px;
}
.verification-status.verificate .verification-icon i{
    color: #2196F3;
    opacity: 1;
}
.verification-text{
    padding-right: 35px;
}
.verification-text p.dir-ltr{
    direction: ltr;
    text-align: right;
}
.verification-text p{
    font-size: 12px;
    margin: 0;
}
.verification-text p.active, .verificate .verification-text p.pending{
    display: none;
}
.verificate .verification-text p.active{
    display: block;
}
.verification-text p.hint{
    font-size: 10px;
    color: #a0a0a0;
    padding-top: 5px;
}
.verification-text a.resend-link{
    font-size: 12px;
    color: #2196f3;
    cursor: pointer;
    padding: 10px 0;
    float: right;
}
.verification-text a.resend-link i{
    display: inline-block;
    color: inherit;
    font-size: 14px;
    margin-left: 5px;
}
.verificate .verification-text a.resend-link{
    display: none;
}
.verificate-code .md-input-wrapper{
    width: 40%;
    margin: 0 auto;
}
.verificate-code input{
    text-align: center;
    padding: 0 4px !important;
}
.verificate-code .parsley-errors-list span{
    text-align: center;
    display: block;
}
button[disabled], button[disabled]:hover{
    background-color: #ccc;
    box-shadow: none;
    cursor: default;
    color: #888;
}
.ltr{
    direction: ltr !important;
    unicode-bidi: embed;
}
#recognizeImages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}
#recognizeImages p{
    text-align: justify;
}
#recognizeImages p.info{
    padding-top: 20px;
    margin-bottom: -10px;
}
#recognizeImages p.info span{
    display: block;
    text-align: center;
}
#recognizeImages p.info span.justify{
    text-align: justify;
}
#recognizeImages p.info span.ltr{
    margin-top: 10px;
    letter-spacing: 2px;
}
#recognizeImages p.info a span{
    margin-top: 25px;
}
#next-step{
    height: 40px;
    padding: 0;
    margin: 10px auto 30px auto;
}
#next-step-content{
    padding: 10px 0;
    text-align: center;
}